html,
body {

    background-color: #31393C;
}

.grid-container {
    margin: 15px;
}

.grid-item {
    display: inline;
}

#grid-item2 {
    float: right;
}

.grid-item > a > img {
    width: 1.8em;;
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    height: 100%;
    color: white;
    border-radius: 10px;
}

#container {
    margin-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#btnDanger {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
    background-color: #ff003b;
}

#btnDanger > a {
    color: white;
    text-decoration: none;
}